### root workspace

.git
.github
.husky
.yarn
!.yarn/plugins
!.yarn/releases
!.yarn/install-state.gz

.commitlintrc.yaml
.dockerignore
.editorconfig
.eslintrc.json
.gitattributes
.gitignore
.lintstagedrc.yaml
.markdownlint.yaml
.prettierrc.yaml
Dockerfile
LICENSE
Makefile
README.md
renovate.json

### other workspaces

packages/*/.scannerwork
packages/*/coverage
packages/*/src
packages/*/test

packages/*/dist/*.tsbuildinfo
packages/*/example.env
packages/*/nest-cli.json
packages/*/README.md
packages/*/sonar-project.properties
packages/*/tsconfig*.json

### https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

.idea

### https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore

.vscode
*.code-workspace

# Local History for Visual Studio Code
.history

### https://github.com/github/gitignore/blob/master/Node.gitignore

**/.env
